In [6]:
pip install yfinance

Requirement already satisfied: yfinance in c:\python311\lib\site-packages (0.2.32)
Requirement already satisfied: pandas>=1.3.0 in c:\python311\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: numpy>=1.16.5 in c:\tools\manim\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\python311\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\python311\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\python311\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\python311\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\python311\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\python311\lib\site-packages (from yfinance) (2.3.10)
Requirement already satisfied: peewee>=3.16.2 in c:\python311\lib\site-packages (from yfinance) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\python311\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\python311\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in c:\tools\manim\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\python311\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\tools\manim\lib\site-packages (from requests>=2.31->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\tools\manim\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\tools\manim\lib\site-packages (from requests>=2.31->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\tools\manim\lib\site-packages (from requests>=2.31->yfinance) (2022.12.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import yfinance as yf
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

In [24]:
ativos = ['VGIA11.SA','MCHF11.SA','XPCA11.SA','FGAA11.SA', 'OIAG11.SA', 'RURA11.SA','VGHF11.SA','GAME11.SA']

inicio = '2021-11-30'

fim = '2023-11-30'

df = pd.DataFrame()

for i in ativos:
    
    df[i] = yf.download(i, start = inicio, end = fim)['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [25]:
df.head()

,VGIA11.SA,MCHF11.SA,XPCA11.SA,FGAA11.SA,OIAG11.SA,RURA11.SA,VGHF11.SA,GAME11.SA
Date,,,,,,,,
2021-12-15,9.343837,9.251660,8.625421,NaN,NaN,NaN,9.088013,NaN
2021-12-16,8.432243,9.251660,8.885110,NaN,NaN,NaN,9.125182,NaN
2021-12-17,9.115939,9.279583,8.903661,NaN,NaN,NaN,9.134477,9.534228
2021-12-20,8.997433,9.344735,8.894386,NaN,NaN,NaN,9.106599,9.534228
2021-12-21,9.070359,9.316813,8.885110,NaN,NaN,NaN,9.134477,9.534228

In [26]:
df.tail()

,VGIA11.SA,MCHF11.SA,XPCA11.SA,FGAA11.SA,OIAG11.SA,RURA11.SA,VGHF11.SA,GAME11.SA
Date,,,,,,,,
2023-11-23,8.90,8.45,9.52,9.65,9.15,10.59,9.27,9.03
2023-11-24,8.90,8.50,9.48,9.66,9.18,10.71,9.29,9.05
2023-11-27,8.62,8.20,9.28,9.60,9.14,10.81,9.28,9.06
2023-11-28,8.74,8.51,9.32,9.62,9.09,10.80,9.35,9.00
2023-11-29,8.76,8.17,9.34,9.61,9.02,10.85,9.30,9.04

In [28]:
retornos_diarios = df.pct_change()

In [29]:
retornos_diarios.head()

,VGIA11.SA,MCHF11.SA,XPCA11.SA,FGAA11.SA,OIAG11.SA,RURA11.SA,VGHF11.SA,GAME11.SA
Date,,,,,,,,
2021-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-16,-0.097561,0.000000,0.030107,NaN,NaN,NaN,0.004090,NaN
2021-12-17,0.081081,0.003018,0.002088,NaN,NaN,NaN,0.001019,NaN
2021-12-20,-0.013000,0.007021,-0.001042,NaN,NaN,NaN,-0.003052,0.0
2021-12-21,0.008105,-0.002988,-0.001043,NaN,NaN,NaN,0.003061,0.0

In [30]:
retornos_diarios.dropna(inplace = True)
retornos_diarios

,VGIA11.SA,MCHF11.SA,XPCA11.SA,FGAA11.SA,OIAG11.SA,RURA11.SA,VGHF11.SA,GAME11.SA
Date,,,,,,,,
2023-02-15,0.002039,0.011494,0.007194,0.003033,-0.003850,0.005848,0.005562,0.005747
2023-02-16,-0.003052,0.022727,0.006122,-0.004032,0.000000,-0.002907,0.001106,0.001143
2023-02-17,-0.001020,-0.007778,0.002029,0.005061,0.000000,0.015549,0.002210,-0.001142
2023-02-22,0.002043,0.000000,0.002024,0.000000,0.000966,-0.004785,-0.004410,-0.004571
2023-02-23,0.002039,-0.025756,0.001010,-0.003021,0.011583,0.005769,0.005537,-0.003444
...,...,...,...,...,...,...,...,...
2023-11-23,-0.014396,-0.015152,0.016009,-0.006179,-0.011879,0.000945,-0.004296,0.007812
2023-11-24,0.000000,0.005917,-0.004202,0.001036,0.003279,0.011331,0.002157,0.002215
2023-11-27,-0.031461,-0.035294,-0.021097,-0.006211,-0.004357,0.009337,-0.001076,0.001105
2023-11-28,0.013921,0.037805,0.004310,0.002083,-0.005470,-0.000925,0.007543,-0.006623
2023-11-29,0.002288,-0.039953,0.002146,-0.001040,-0.007701,0.004630,-0.005348,0.004444