In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.32-py2.py3-none-any.whl (68 kB)
     ---------------------------------------- 69.0/69.0 kB 1.2 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.10-cp310-cp310-win_amd64.whl (35 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\cardo\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: pytz>=2022.5 in c:\users\cardo\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: numpy>=1.16.5 in c:\users\cardo\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: pandas>=1.3.0 in c:\users\cardo\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\cardo\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Collecting peewee>=3.16.2
  Downloading peewee-3.17.0.tar.gz (2.9 MB)
     ---------------------------------------- 2.9/2.9 MB 2.7 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 2.2 MB/s eta 0:00:00
Collecting requests>=2.31
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     ---------------------------------------- 62.6/62.6 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in c:\users\cardo\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\cardo\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: six>=1.9 in c:\users\cardo\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\cardo\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\cardo\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\cardo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cardo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.11.17)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cardo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\cardo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.14)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.0-py3-none-any.whl size=135766 sha256=b75492018579a1b62e0309aa9723b3d6dd7de4dc58b991e6c46c1ade9d350ae8
  Stored in directory: c:\users\cardo\appdata\local\pip\cache\wheels\e2\b9\da\716514851b65304b2d24f2a161398b9470da589b08a5a586c8
Successfully built peewee
Installing collected packages: peewee, multitasking, requests, html5lib, frozendict, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.28.1
    Uninstalling requests-2.28.1:
      Successfully uninstalled requests-2.28.1
Successfully installed frozendict-2.3.10 html5lib-1.1 multitasking-0.0.11 peewee-3.17.0 requests-2.31.0 yfinance-0.2.32
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.41 requires requests_mock, which is not installed.
conda-repo-cli 1.0.41 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.41 requires nbformat==5.4.0, but you have nbformat 5.7.0 which is incompatible.
conda-repo-cli 1.0.41 requires requests==2.28.1, but you have requests 2.31.0 which is incompatible.

In [4]:
import yfinance as yf
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

In [8]:
ativos = ['VGIA11.SA','MCHF11.SA','XPCA11.SA','FGAA11.SA']

inicio = '2013-11-30'

fim = '2023-11-30'

df = pd.DataFrame()

for i in ativos:
    
    df[i] = yf.download(i, start = inicio, end = fim)['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [9]:
df.head()

            VGIA11.SA  MCHF11.SA  XPCA11.SA  FGAA11.SA
Date
2021-12-15   9.343837   9.251660   8.625422        NaN
2021-12-16   8.432243   9.251660   8.885112        NaN
2021-12-17   9.115939   9.279583   8.903661        NaN
2021-12-20   8.997432   9.344735   8.894386        NaN
2021-12-21   9.070360   9.316814   8.885112        NaN

In [10]:
df.tail()

            VGIA11.SA  MCHF11.SA  XPCA11.SA  FGAA11.SA
Date
2023-11-23       8.90       8.45       9.52       9.65
2023-11-24       8.90       8.50       9.48       9.66
2023-11-27       8.62       8.20       9.28       9.60
2023-11-28       8.74       8.51       9.32       9.62
2023-11-29       8.76       8.17       9.34       9.61